<h2>Schedule Lectures!</h2>

<h3>Please enter the number of seats required for the lecture here below:</h3>
<div>
    <label>Number of Seats: </label>
    <input [(ngModel)] = "seats" type="text" placeholder="Number of seats required">
    </div>

    <button (click) = "look()">Search!</button>
<div>


    <div>
        <h3>Here is a list of classrooms available based on your search. Please select the classroom for which you want to schedule a lecture for</h3>
        <ul *ngFor = "let r of result; let i = index">
            <li>Classroom Number: {{r.classroomNumber}} , Building Name: {{r.buildingName}}, Number of Seats: {{r.numberOfSeats}}</li>   
             <li><button>Select!</button></li> 
        </ul>
    </div>
