


<div class="container">
   
<h2>Schedule Lecture</h2>

<div class="container">
  
    <div class="row">
      <div class="col-sm">
       
        
        <form>
            <ngb-timepicker [(ngModel)]="startTime" [seconds]="seconds" (focus)="d.open()"></ngb-timepicker>
            <h4> Enter lecture information below: </h4>
            <div class="mb-3">
              <label  class="form-label">Start Time:</label>
             
              <!-- <input [(ngModel)] = "startTime" type="text" placeholder="Lecture Start Time" class="form-control" id="startTime"> -->
            </div>
            <div class="mb-3">
              <label  class="form-label">End Time:</label>
              <input [(ngModel)] = "endTime" type="text" placeholder="Lecture End Time"  class="form-control" id="endTime">
            </div>
            <div class="mb-3">
                <label  class="form-label">LectureID:</label>
                <input type="password" class="form-control" id="">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">CourseID:</label>
                <input type="password" class="form-control" id="">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Number of Seats Required:</label>
                <input type="password" class="form-control" id="">
              </div>
        
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>






<div>
    <h4> Please enter the lecture information here: </h4>
    <label>Start Time: </label>
    <input [(ngModel)] = "startTime" type="text" placeholder="Lecture Start Time">

    <label>End Time: </label>
    <input [(ngModel)] = "endTime" type="text" placeholder="Lecture End Time">

    <label>LectureID: </label>
    <input [(ngModel)] = "lectureID" type="text" placeholder="lectureID">

    <label>CourseID: </label>
    <input [(ngModel)] = "courseID" type="text" placeholder="CourseID">
    
    <label>Number of Seats Required: </label>
    <input [(ngModel)] = "seats" type="text" placeholder="Number of seats required">
   
</div>

    <button (click) = "look()">Search!</button>
<div>


    <div>
        <h3>Here is a list of classrooms available based on your search. Please select the classroom for which you want to schedule a lecture for</h3>
        <ul *ngFor = "let r of result; let i = index">
            <li>Classroom Number: {{r.classroomNumber}} , Building Name: {{r.buildingName}}, Number of Seats: {{r.numberOfSeats}}</li>   
             <li><button>Schedule at this class!</button></li> 
        </ul>
    </div>

</div>