<h2>Schedule Lectures!</h2>

<h3>Please enter the number of seats required for the lecture here below:</h3>
<div>
    <h4> Please enter the lecture information here: </h4>
    <label>Start Time: </label>
    <input [(ngModel)] = "startTime" type="text" placeholder="Lecture Start Time">

    <label>End Time: </label>
    <input [(ngModel)] = "endTime" type="text" placeholder="Lecture End Time">

    <label>LectureID: </label>
    <input [(ngModel)] = "lectureID" type="text" placeholder="lectureID">

    <label>CourseID: </label>
    <input [(ngModel)] = "courseID" type="text" placeholder="CourseID">
    
    <label>Number of Seats Required: </label>
    <input [(ngModel)] = "seats" type="text" placeholder="Number of seats required">
   
</div>

    <button (click) = "look()">Search!</button>
<div>


    <div>
        <h3>Here is a list of classrooms available based on your search. Please select the classroom for which you want to schedule a lecture for</h3>
        <ul *ngFor = "let r of result; let i = index">
            <li>Classroom Number: {{r.classroomNumber}} , Building Name: {{r.buildingName}}, Number of Seats: {{r.numberOfSeats}}</li>   
             <li><button (click) = "insertLecture(r.classroomNumber)">Schedule at this class!</button></li> 
        </ul>
    </div>
