input{
    border-radius: 20px;
}

button{
    border-radius: 20px;
}

ul {
    list-style-type: none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    
    
    border: solid;
    border-color: rgb(227, 87, 255);
    border-width: 1px;
}