<div class="jumbotron">
  <h1 class="display-4">Hello, welcome to the covid tracking application!</h1>
  <p class="lead">Use this application to report a case of covid, check if you have been in contanct with
    someone with covid, search and enroll in courses or to schedule new lectures.s
  </p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
