<button class="push-button-3d" (click)="report()">Report Case</button>


<div *ngIf="response">
    {{ response }}
</div>

<br>

<label>
    User:
    <input type="text" [formControl]="name">
</label>
<button class="push-button-3d" (click)="getCoincidence()">Get Coincidence with {{ name.value }}</button>

<div *ngIf="common">
    <table>
        <td>Shared course IDs</td>
        <tr *ngFor="let item of common">
            <td>{{item['courseID']}}</td>
        </tr>
    </table>
</div>

<button class="push-button-3d" (click)="getNotifications()">See Notifications</button>

<table>
    <div *ngIf="!notifications">No Notifications</div>
    <div *ngIf="notifications">
        <tr *ngFor="let notification of notifications">
            <td>{{notification['idNotification']}}</td><td>{{notification['message']}}</td> 
        </tr>
    </div>
</table>