.push-button-3d {
  box-shadow: 0 4px #c13cb65d;
  color: #ffffff;
  background-color: #e63789;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.2s ease;
  font-weight: 900;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 20px;
}

.push-button-3d:active {
  box-shadow: 0 1px #ff0000;
  transform: translateY(3px);
  border-radius: 20px;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

td {
  padding: 12px 15px;
}

.push-button2-3d {
  box-shadow: 0 4px #c13cb638;
  color: #ffffff;
  background-color: #e637898a;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.2s ease;
  font-weight: 900;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 20px;
}

.push-button2-3d:active {
  box-shadow: 0 1px #ff000059;
  transform: translateY(3px);
  border-radius: 20px;
}
