<div class="jumbotron">
  <h1 class="display-4">Search Courses</h1>
  <p class="lead">You can search courses by course ID or by course name</p>
  <hr class="my-4">
  <p>Enter your search criteria bellow</p>

<div>
  <label>Search by Course ID: </label>
  <datalist name="courseIDs" id="courseIDs">
    <option *ngFor="let courseID of courseIDs">{{ courseID.courseID }}</option>
</datalist>
  <input [(ngModel)]="courseID" maxlength="5" type="text" id="courseID" list="courseIDs"/>

  <label>    Search by Subject Name: </label>
  <input [(ngModel)] = "courseName" type="text" class = "searchBox" placeholder="Subject Code... ">

  <button (click) = "getSearchResults()" class="btn btn-primary">  Submit!</button>
</div>
</div>


<h3>Results</h3>


<table>
    <tr>
       <th>index</th>
      <th>courseID</th>
      <th>Course Name</th>
      <th>Description</th>
      <th>Number of Students Enrolled</th>
      <th>Start Time</th>
      <th>End Time</th>

    </tr>
    <tr *ngFor = "let x of result; let i = index">
      <td>{{i}}</td>
      <td>{{x.courseID}}</td>
      <td>{{x.courseName}}</td>
      <td>{{x.description}}</td>
      <td>{{x.numberOfStudents}}</td>
      <td>{{x.startTime}}</td>
      <td>{{x.endTime}}</td>
      <td>
          <button (click) = "enroll(x.courseID)">Enroll for this course!</button>
      </td> 
    </tr>

  </table>
