<!-- <h3>Please fill in the form below and select the course you would like to enroll for:</h3> -->




<h3>Here are list of all the course that you can enroll for!</h3>
<table>
    <tr>
       <th>index</th>
      <th>courseID</th>
      <th>Course Name</th>
      <th>Description</th>
      <th>Number of Students Enrolled</th>
      <th>Total Number of Seats</th>
      <th>Start Time</th>
      <th>End Time</th>

    </tr>
    <tr *ngFor = "let x of result; let i = index">
      <td>{{i}}</td>
      <td>{{x.courseID}}</td>
      <td>{{x.courseName}}</td>
      <td>{{x.description}}</td>
      <td>{{x.numberOfStudents}}</td>
      <td>{{x.numberOfSeats}}</td>
      <td>{{x.startTime}}</td>
      <td>{{x.endTime}}</td>
      <td>
        <!-- Call the function by passing the index of the row for which the button was clicked-->
        <button>Enroll for this course!</button>
    </td>
    </tr>
    
  </table>

